/**RESET**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}


/**UTILITIES**/
.general-white {
  color: white;
}

.text-uppercase {
  text-transform: uppercase;
}

.general-hover:hover {
  color: white;
  cursor: pointer;
}

/**HEADER**/
header {
  width: calc(100% - 250px);
  height: 90px;
  background-color: #090909;
  float: left;
}

.class-btn {
  float: right;
}

header .class-btn button {
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: #080808;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 27px;
  margin-right: 10px;
  transition: all 0.1s;
}

header .class-btn button:hover {
  padding: 12px 35px;
  border-radius: 40px;
}

/**ASIDE**/
aside {
  width: 250px;
  height: calc(100vh - 100px);
  background-color: #040404;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

aside .container-box img {
  height: 40px;
  margin: 20px
}

.container-box {
  color: #b4b4b4;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.aside .container-box home {
  margin-right: 10px;
  margin-left: 25px;
  line-height: 1.5;
}

aside .container-box h4 {
  margin: 20px 0;
  margin-left: 26px;
}

.h4-containerbox{
  margin:20px 0;
  margin-left: 26px;
  color: white;
}
.p-containter-box {
  color:#b4b4b4;
  display: inline-block;
}

.content-playlist {
  display: flex;
  align-items: baseline;
  color: #b4b4b4;
}

.plus-hover {
  padding: 7px 11px;
  background-color: #b4b4b4;
  color: black;
  margin-left: 26px;
  margin-right: 10px;
}

.nomi-playlist{
  color: #b4b4b4;
  margin-left: 10px;
  margin-top: 15px;
  line-height: 1.9;
  overflow-y: auto;
}

.content-bottom {
  display: flex;
  align-items: center;
  color: #b4b4b4;
  font-size: 20px;
  padding-left: 8px;
}

aside .content-bottom i {
  margin-right: 10px;
}

.bottom-border {
  border-bottom: 2px solid #b4b4b4;
  margin: 0 20px;
}
.home {
  display: inline-block;
}

.margine {
  margin: 10px 0;
}

.plus-hover:hover {
  background-color: white;
}
.p-playlist {
  margin-right: 10px;
  margin-left: 25px;

}

/**MAIN**/
main {
    width: calc(100% - 250px);
    height: calc(100vh - 190px);
    background-image: linear-gradient(to bottom right, #18171c, rgba(77, 77, 82));
    float: left;
    overflow-y: auto;
}

/**MAIN CONTENT**/
main .main-cont-1 ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

main li a {
  color: #b4b4b4;
  font-weight: bold;
  text-decoration: none;
}

main ul li {
  margin: 20px;
}

main .rec-played h2 {
  margin: 20px 0;
  margin-left: 28px;
}

.main-cont-2,
.main-cont-3,
.main-cont-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-cont-2 img,
.main-cont-3 img,
.main-cont-4 img {
  height: 180px;
  width: auto;
}

.main-cont-2 > div,
.main-cont-3 > div,
.main-cont-4 > div {
  margin-left: 28px;
}

main .content-img {
  position: relative;
}

main .play-over {
  display: none;

}

.content-img:hover .play-over {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

main .play-over i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
}

.main-cont-2 h3,
.main-cont-3 h3,
.main-cont-4 h3 {
  color: white;
  text-align: center;
  margin-top: 10px;
}

.main-cont-2 p {
  color: lightgray;
  margin-left: 28px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 5px;
}
.p-center{
  text-align: center;
}

.headline-c2 h2,
.headline-c3 h2 {
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 28px;
}

.headline-c2 p,
.headline-c3 p {
  color: #b4b4b4;
  margin-bottom: 20px;
  margin-left: 28px;
}

/**PLAYER**/
.bottom-player {
  height: 100px;
  width: 100%;
  background-color: #282828;
  float: left;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
}

.p-sx {
  display: flex;
  flex: 0 0 280px;
  justify-content: flex-start;
  align-items: center;
}

.p-sx img {
  height: 50px;
  width: auto;
}

.p-sx p {
  color: #b4b4b4;
}

.p-sx p:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.p-sx h3, p {
  margin-left: 15px;
  margin-right: 30px;
}

.p-sx i {
  color: #b4b4b4;
  margin-left: 10px;
}


.p-middle {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-middle-2 {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

.p-middle  i {
  font-size: 18px;
  margin: 0 10px;
  margin-bottom: 10px;
}

.p-middle .p-play {
  font-size: 30px;
}

.p-middle .p-play:hover {
  font-size: 31px;
  cursor: pointer;
}

.player-bar {
  height: 2px;
  width: 350px;
  background-color: rgba(180, 180, 180, 0.5);
  border-radius: 5px;
  position: relative;
}

.player-bar::after {
  content: '';
  height: 2px;
  width: 60px;
  background-color: #DCDCDC;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

.p-middle p {
    margin: 0 15px;
}

.p-dx {
  display: flex;
  flex: 0 0 280px;
  justify-content: center;
  align-items: center;
}

.p-dx i {
    margin-right: 15px;
}

.player-bar-2 {
  height: 2px;
  width: 130px;
  background-color: rgba(180, 180, 180, 0.5);
  border-radius: 5px;
  position: relative;
}

.player-bar-2::after {
  content: '';
  height: 2px;
  width: 20px;
  background-color: #DCDCDC;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
}


/**MEDIA QUERY**/
@media all and (min-width: 992px) and (max-width: 1200px) {
.player-bar {
    width: 300px;
  }
}

@media all and (min-width: 768px) and (max-width: 992px){
.player-bar {
    width: 110px;
}

.player-bar::after {
    width: 30px;
}
}

@media all and (max-width: 768px){
  .player-bar {
      width: 70px;
  }

  .player-bar::after {
      width: 30px;
  }

  .p-sx i {
  margin: 0 16px;
  }
}
